<%include header%>
<%include sidebar%>


                <div id="blog-div">
                    <div class="myarticle">
                        <div class="article-title">
                            关于我自己
                        </div>
                        <div class="article-view">
                            <p>
                                说实话关于我自己目前没什么好说的。
                                <br>
                                烦躁。
                                <br>
                                能消失就好了
                            </p>
                            <p><img src="/picture/logo2.png"></p>
                        </div>
                        <div class="article-foot">




                        </div>
                    </div>
<%include footer%>
