<%include header%>
<%include sidebar%>


                <div id="blog-div">
                    <div class="myarticle">
                        <div class="article-title">
                            友链
                        </div>
                        <div class="article-view">
                            <p>
                                这里是没有知识的荒原——404
                                <br>
                                如果你看到了这个页面，我想你一定又在URL上瞎搞了。
                                <br>
                                或者你已经来到了火星？
                            </p>
                        </div>
                        <div class="article-foot">

                        </div>
                    </div>
<%include footer%>
